# This is the configuration file for the PCLinuxOS installer.

# If you want to install PCLinuxOS using this installer, please review the options below
# and change them if desired.

# Fedora install demo.

READONLY_CONFIG=0

NEW_ROOT=fedora4
LOG_FILE=fedora-make-install.log
CLEAN_BEFORE=0
CLEAN_AFTER=0
USE_BACKUP_RPMS=1
SAVE_RPMS=1

APT_REPOSITORY=" http://www-ccrma.stanford.edu/planetccrma/apt/ fedora/4/i386 core updates "


################## LIVE CD OPTIONS ###############
# not used in this config, since mklivecd does not support fedora yet.

MAKE_LIVECD=0

LIVECD_RESOLUTION=800x600
LIVECD_LOOPTYPE=sqfs
LIVECD_KERNEL=2.6.11-oci11.mdk
LIVECD_KEYBOARD=us
LIVECD_NAME=fedora4-livecd.iso
